$--main-gray: #e5e5e5;
$--additional-gray: #c4c4c4;
$--border-gray: #dddddd;
$--real-white: #ffffff;
$--real-black: #000000;
$--required-gray: #777777;

$--light-blue: #82b3d9;

$--red-error-color: #9f2b11;
$--green-success-color: #007b1b;

$--main-blue: #558cb7;
$--light-blue: #82b3d9;

$--shadow-color: rgba($--real-black, 0.4);
